<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    Define the bean id with camelCase Format -->
<!--    Example My class name is Self then camelCase name would be self -->
<bean id="self" class="com.example.Cinemaxify.Self"/>
<bean id="spouse" class="com.example.Cinemaxify.Spouse"/>
</beans>